RK_KERNEL_CFG="firefly_linux_defconfig"
RK_KERNEL_DTS_NAME="rk3562-firefly-aio-3562q"
RK_UBOOT_OPTS="--spl-new"
RK_USE_FIT_IMG=y
RK_WIFIBT_CHIP="AP6256"
RK_WIFIBT_TTY="ttyS4"
RK_PARAMETER="parameter-buildroot-fit.txt"
RK_BOOT_FIT_ITS="bootramdisk.its"
RK_RAMDISK_IMG="kernel/ramdisk.img"
